<div class="modal fade" id="wait-timer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id= "modal-timer">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Time Your Wait</h4>
      </div>
      <div class="modal-body text-center">
        <h1><time>00:00:00</time></h1>
        <button id="start" class="btn btn-success">start</button>
        <button id="stop" class="btn btn-danger">stop</button>
        <button id="clear" class="btn btn-default">clear</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="cancel" data-dismiss="modal" >Cancel</button>
        <button class="btn btn-danger" id="submit" data-dismiss="modal"> Submit </button>
      </div>
    </div>
  </div>
</div>